<div class="todolist">
  <div class="todo" *ngFor="let item of data">
    <app-todo-content
      [item]="item"
      (priorityItem)="changePriority($event)"
      (editItem)="showEdit($event)"
      (deleteItem)="showDelete($event)"
    >
      <!-- [子層]="父層" input 父傳子 -->
      <!-- (子層)="父層" output 子傳父 -->
    </app-todo-content>

    <app-todo-edit
      [item]="item"
      (edit)="editItem($event)"
      (canceledit)="cancelEdit($event)"
    ></app-todo-edit>
    <app-todo-delete
      [item]="item"
      (delete)="deleteItem($event)"
      (cancel)="cancelDelete($event)"
    ></app-todo-delete>
  </div>
</div>
