<div class="todolist">
  <div class="todo" *ngFor="let item of data">
    <app-todo-content
      [id]="item.id"
      [item]="item"
      (priorityItem)="changePriority($event)"
      (editItem)="hideEdit($event)"
      (deleteItem)="hideDelete($event)"
    ></app-todo-content>

    <app-todo-edit [item]="item"  (edit)="doEdit($event)"
    (canceledit)="cancelEdit($event)" ></app-todo-edit>
    <app-todo-delete
      [item]="item"

      (delete)="doDelete($event)"
      (cancel)="cancelDelete($event)"
    ></app-todo-delete>
  </div>
</div>
